.dashboard-container {
  width: 95vw;
  display: grid;
  grid-template-columns: 3fr 1.35fr;
  grid-auto-rows: min-content;
  height: 100vh;

  padding: 1%;
}

#menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;

  align-items: center;
  justify-content: center;
}

.menuItem {
  height: 175px;
  width: 100%;

  text-align: center;
  color: white;

  display: flex;

  align-items: center;
  justify-content: center;
  justify-self: center;
}

#options {
  background-color: lightgray;
  margin-left: 1em;
}

#options > .header {
  display: flex;

  align-items: center;
  justify-content: center;

  background-color: teal;
  color: white;

  height: 70px;
}
