.entryRow {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
}

.entryRow > div {
  text-align: center;
  font-size: 1.2em;
  border: 1px solid black;
  padding: 5px;
}

.entryRow > input {
  font-size: 1.2em;
  text-align: center;
  padding: 5px;
}

.button {
  margin: 2em auto;
  display: block;
  cursor: pointer;
}
