.pipe-gange-container {
  background-color: rgb(132, 197, 223);
  padding: 20px;
  height: 100vh;
}

.top-section .label-input {
  display: flex;
  justify-content: space-between;
}

.top-section .first {
  margin-bottom: 20px;
  font-size: 14px;
}

.top-section .second {
  display: flex;
  margin-bottom: 20px;
  font-size: 14px;
}

.top-section .second .left {
  margin-right: 20px;
}

.top-table {
  font-size: 14px;
}

.top-table th {
  padding: 5px;
  text-align: center;
}

.top-table td {
  background-color: white;
  text-align: center;
}

.top-table td input,
.top-table td select {
  width: 100%;
  height: 100%;
}
