
.label-input {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-bottom: 2px;
}
.label-input label {
    margin-right: 4px;
}

.vbutt-pg-container .label-input input {
    width: 80px;
}

.vbutt-pipe-gang {
    overflow: auto;
    padding: 20px;
}

.vbutt-pipe-gang .pipe-gang-table {
    font-size: 14px;

}
.vbutt-pipe-gang .pipe-gang-table {
    border-collapse: collapse;
}

.vbutt-pipe-gang .pipe-gang-table th {
    color: rgb(7, 77, 95);
    padding: 5px;
    border: 1px solid rgb(37, 115, 167);
}

.vbutt-pipe-gang .pipe-gang-table td {
    padding: 5px;
    text-align: center;
    border: 1px solid rgb(37, 115, 167);
    /* background-color: rgb(228, 228, 228); */
}

.vbutt-pipe-gang .pipe-gang-table .text-row {
    /* padding: 20px; */
}

.vbutt-pipe-gang .pipe-gang-table .text-row td {
    border: none;
    padding: 7px;
}

.vbutt-pipe-gang .pipe-gang-table td input {
    width: 70px;
}
