button {
    transition: scale .2s ease-in-out, opacity .2s ease-in-out;
}
button:hover {
    transform: scale(0.95);
    opacity: .97;
}
button:disabled {
    transform: scale(0.8);
    opacity: .7;
    content: "disabled";
}
.unstyled {
    border: 1px solid white;
    color: black;
}
.refresh {
    border: 1px solid red;
    background-color: greenyellow;
    color: black;
}
.move {
    border: 1px solid black;
    background-color: pink;
    color: black;
}
.add {
    border: 1px solid black;
    background-color: blue;
    color: white;
    opacity: 1 !important;
}
.delete {
    border: 1px solid black;
    background-color: red;
    color: white;
}